<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Title </th>
        <th scope="col"> Description </th>
        <th scope="col"> Price </th>
        <th scope="col"> Thumbnail </th>
        <th scope="col"> Code </th>
        <th scope="col"> Stock </th>
      </tr>
    </thead>
    <tbody>
      {{#each products.docs}}
        <tr>
          <td> {{this.title}}</td>
          <td> {{this.description}}</td>
          <td> {{this.price}} </td>
          <td> {{this.thumbnails}}</td>
          <td> {{this.code}}</td>
          <td> {{this.stock}} </td>
        </tr>
      {{/each}}

    </tbody>

  </table>
  <div class="position-relative m-4">

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {{#if products.hasPrevPage}}
          <li class="page-item"><a
              class="page-link"
              href="/products?page={{products.prevPage}}&&limit=10"
            >Previous</a></li>
        {{/if}}

        {{!-- Links a siguientes páginas --}}

        {{#if products.hasNextPage}}
          <li class="page-item"><a
              class="page-link"
              href="/products?page={{products.nextPage}}&&limit=10"
            >Next</a></li>
        {{/if}}

      </ul>
    </nav>
    <p class="btn btn-primary">
      Current Page:
      {{products.page}}
    </p>
  </div>
</div>